
\.idea/dictionaries/rhet\.xml

\.idea/inspectionProfiles/Project_Default\.xml

\.idea/magento-extension\.iml

\.idea/misc\.xml

\.idea/modules\.xml

\.idea/php\.xml

\.idea/vcs\.xml

\.idea/workspace\.xml
